<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="动态" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dynamic">
    <ion-nav-view name="tab-dynamic"></ion-nav-view>
  </ion-tab>  
  <ion-tab title="发现" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" href="#/tab/find">
    <ion-nav-view name="tab-find"></ion-nav-view>
  </ion-tab>

  <ion-tab title="项目需求" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/require">
    <ion-nav-view name="tab-require"></ion-nav-view>
  </ion-tab>


  <ion-tab title="个人中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/center">
    <ion-nav-view name="tab-center"></ion-nav-view>
  </ion-tab>


</ion-tabs>
