<ion-view view-title="发现">
  <ion-content has-subheader="false">
    <!-- <div class="ad" ng-click=showConfirm()><img src="./img/ad.png" alt=""></div> -->
    <ion-list>
      <div class="content">
        <div class="row">
        <div class="col"></div>
        <div class="col col-75 find find5"><a href="#tab/activity"><i class="ion ion-ios-calendar-outline"></i>&nbsp;创业活动</a></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col col-75 find find3"><a href="#tab/find/site"><i class="ion ion-ios-pricetags-outline"></i>&nbsp;办公场地</a></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
  
        <div class="col col-75  find find4"><a href="#tab/topic"><i class="ion ion-ios-chatbubble-outline"></i>&nbsp;创业话题</a></div>
        <div class="col"></div>
      </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>