<ion-view view-title="动态详情">
  <ion-content has-subheader="false">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"> </ion-refresher>
    <div class="list card">

      <div class="item item-avatar">
        <img ng-src="{{userInfo.avatar}}">
        <h2>{{userInfo.user}}</h2>
        <p>{{userInfo.worktype}}</p>
      </div>

      <div class="item">
        {{dynamic.content}}
      </div>
      <label class="item item-input" ng-show="showCommentForm">
          <input type="text" placeholder="新增评论" ng-model="temp.tempComment">
      </label>
      <div class="row">
        <div class="col" ng-if="!showCommentForm"></div>
        <div class="col"></div>
        <div class="col">
          <div class="button button-block button-small button-positive no-margin"
          ng-click="showComment()">
            {{buttonText}}
          </div>
        </div>        
        <div class="col" ng-if="showCommentForm">
          <div class="button button-block button-small button-energized no-margin"
          ng-click="closeComment()">
            关闭
          </div>
        </div>
      </div>
      <div ng-repeat="comment in comments | reverse">
        <div class="item item-divider">
          {{comment.sponsor}}
        </div>
        <div class="item">
          {{comment.content}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
