.center .login-tips div {
  height: 30px;
  line-height: 30px;
  float: left; }

.center .login-tips,
.center .login-tips .right {
  padding-left: 20px; }
  .center .login-tips div,
  .center .login-tips .right div {
    padding: 0 10px; }

.center .dynamic .left {
  height: 40px;
  line-height: 30px; }

.center .dynamic .right {
  color: #aaa;
  font-size: 12px;
  height: 40px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis; }

.center .my-content {
  color: #666; }

.full-button {
  width: 98%; }

.content-topics {
  background-color: #f0f0f0; }
  .content-topics .topics {
    list-style: none; }
  .content-topics .topic {
    height: 110px;
    margin-bottom: 1px;
    padding: 10px;
    background-color: #ffffff;
    position: relative; }
    .content-topics .topic a {
      text-decoration: none;
      color: #333; }
    .content-topics .topic .topic-title {
      margin-bottom: 5px;
      font-size: 18px; }
    .content-topics .topic .topic-author {
      color: #ccc;
      float: left;
      margin-right: 20px; }
    .content-topics .topic .topic-tag {
      color: #ce8d1d; }
    .content-topics .topic .topic-articl {
      margin-top: 5px;
      line-height: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .content-topics .topic .topic-time {
      position: absolute;
      font-size: 12px;
      right: 20px;
      top: 10px;
      color: #ccc; }

.content-topic-detail .top {
  padding-left: 10px;
  padding-top: 6px;
  height: auto;
  overflow: hidden; }
  .content-topic-detail .top img {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    float: left; }
  .content-topic-detail .top .title {
    width: auto;
    margin-left: 20px;
    float: left; }
  .content-topic-detail .top .author {
    float: left;
    margin-left: 20px;
    color: #777777;
    margin-top: 10px; }
  .content-topic-detail .top .tag {
    margin-top: 10px;
    float: left;
    margin-left: 20px;
    color: #ce8d1d; }

.content-topic-detail .middle {
  padding-left: 10px;
  margin-top: 5px; }
  .content-topic-detail .middle .read-num {
    height: 43px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: -10px; }
    .content-topic-detail .middle .read-num ul {
      list-style: none; }
      .content-topic-detail .middle .read-num ul li {
        float: left;
        display: inline-block;
        line-height: 43px;
        width: 50%;
        text-align: center;
        position: relative; }
        .content-topic-detail .middle .read-num ul li:nth-child(2) {
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc; }
  .content-topic-detail .middle .article {
    min-height: 250px;
    padding-right: 10px;
    padding-top: 10px; }

.content-topic-detail .bottom .item-avatar {
  position: relative; }

.content-topic-detail .bottom .comment-user {
  color: #47d9bf; }

.content-topic-detail .bottom .time {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 12px; }
