.center .login-tips div {
  height: 30px;
  line-height: 30px;
  float: left; }

.center .login-tips,
.center .login-tips .right {
  padding-left: 20px; }
  .center .login-tips div,
  .center .login-tips .right div {
    padding: 0 10px; }

.center .dynamic .left {
  height: 40px;
  line-height: 30px; }

.center .dynamic .right {
  color: #aaa;
  font-size: 12px;
  height: 40px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis; }

.center .my-content {
  color: #666; }

.full-button {
  width: 98%; }
