<ion-view view-title="个人中心">
  <ion-content has-subheader="false" class="center">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
     <a class="item item-avatar" ng-if="loginState" ng-click="goUserInfo()">
      <img ng-src="{{userInfo.avatar}}">
      <h2>{{userInfo.user}}</h2>
      <p>{{userInfo.worktype}}&emsp;&emsp;&emsp;&emsp;Tel:{{userInfo.tel}}</p>
    </a>
    <div class="item login-tips" href="#"  ng-if="!loginState" ng-click="login()">
      <div>
        Sorry, 您还没有登录！
      </div>
      <div class="right">
        <div class="button button-small button-assertive">
          登录/注册
        </div >
      </div>
    </div>

    <div class="list my-content" ng-if="loginState">
      <div class="item item-divider">
        我的内容
      </div>
      <div class="item dynamic row"
      ng-click="goPostDynamic()">
        <div class="left col col-25">
          最新动态    
        </div>
        <div class="right col col-75">
          {{lastDynamic.content}}
        </div>
      </div>
      <a class="item item-icon-left" 
      ng-click="goPostRequire()">
        <i class="icon ion-ios-paperplane-outline"></i>
        发起项目需求
      </a>
      <a class="item item-icon-left"
      ng-click="goPostTopic()">
        <i class="icon ion-ios-chatbubble-outline"></i>
        发起创业话题
      </a>
      <a class="item item-icon-left"
      ng-click="goPostActivity()">
        <i class="icon ion-ios-calendar-outline"></i>
        发起创业活动
      </a>
       <div class="item item-divider">
         系统相关
       </div>

      <!-- <a class="item  " href="#"> -->
        <span class="button button-full button-assertive" 
        ng-click="logoOut()"
        ng-if="loginState">
          退出登录
        </span>
      <!-- </a> -->
    </div>
  </ion-content>
</ion-view>